<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Saas</span></h1>
        </div>
        <nav>
          <ul>
            <li class="current">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/features">Features</a>
            </li>
            <li>
              <a href="/pricing">Pricing</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
          <div class="auth-buttons" w-tid="21">
            <a href="/auth/login" class="auth-button" w-tid="22">Login</a>
            <a href="/auth/register" class="auth-button" w-tid="23">Register</a>
          </div>
        </nav>

      </div>
    </header>

    {{embed}}

    <footer>
      <p>Saas, Copyright &copy; 2023</p>
    </footer>
  </body>
</html>
